In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('E:\\PS_20174392719_1491204439457_log.csv')

In [4]:
df.drop(['isFlaggedFraud', 'Hour'],axis=1,inplace=True)

In [5]:
df.head()

,type,amount,customer starting the transaction,balance before the transaction,balance after the transaction,recipient of the transaction,initial balance of recipient before the transaction,the new balance of recipient after the transaction,isFraud
0,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0
1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0
2,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1
3,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1
4,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0

In [6]:
df.shape

(1048575, 9)

In [7]:
df.nunique()

type                                                         5
amount                                                 1009606
customer starting the transaction                      1048317
balance before the transaction                          391033
balance after the transaction                           440792
recipient of the transaction                            449635
initial balance of recipient before the transaction     590110
the new balance of recipient after the transaction      437054
isFraud                                                      2
dtype: int64

In [8]:
df.isnull().sum()

type                                                   0
amount                                                 0
customer starting the transaction                      0
balance before the transaction                         0
balance after the transaction                          0
recipient of the transaction                           0
initial balance of recipient before the transaction    0
the new balance of recipient after the transaction     0
isFraud                                                0
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 9 columns):
 #   Column                                               Non-Null Count    Dtype
---  ------                                               --------------    -----
 0   type                                                 1048575 non-null  object
 1   amount                                               1048575 non-null  float64
 2   customer starting the transaction                    1048575 non-null  object
 3   balance before the transaction                       1048575 non-null  float64
 4   balance after the transaction                        1048575 non-null  float64
 5   recipient of the transaction                         1048575 non-null  object
 6   initial balance of recipient before the transaction  1048575 non-null  float64
 7   the new balance of recipient after the transaction   1048575 non-null  float64
 8   isFraud                                              1048575 non-null  int64
dtypes: float64(5), int64(1), object(3)
memory usage: 72.0+ MB

In [10]:
df.describe()

,amount,balance before the transaction,balance after the transaction,initial balance of recipient before the transaction,the new balance of recipient after the transaction,isFraud
count,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06
mean,1.586670e+05,8.740095e+05,8.938089e+05,9.781600e+05,1.114198e+06,1.089097e-03
std,2.649409e+05,2.971751e+06,3.008271e+06,2.296780e+06,2.416593e+06,3.298351e-02
min,1.000000e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.214907e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,7.634333e+04,1.600200e+04,0.000000e+00,1.263772e+05,2.182604e+05,0.000000e+00
75%,2.137619e+05,1.366420e+05,1.746000e+05,9.159235e+05,1.149808e+06,0.000000e+00
max,1.000000e+07,3.890000e+07,3.890000e+07,4.210000e+07,4.220000e+07,1.000000e+00

In [11]:
fraud = df[df.isFraud == 1]
non_fraud = df[df.isFraud == 0]

In [12]:
len(fraud)

1142

In [13]:
len(non_fraud)

1047433

In [14]:
df.head()

,type,amount,customer starting the transaction,balance before the transaction,balance after the transaction,recipient of the transaction,initial balance of recipient before the transaction,the new balance of recipient after the transaction,isFraud
0,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0
1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0
2,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1
3,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1
4,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0

In [61]:
df[df.isFraud == 0]

,type,amount,customer starting the transaction,balance before the transaction,balance after the transaction,recipient of the transaction,initial balance of recipient before the transaction,the new balance of recipient after the transaction,isFraud
0,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0
1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0
4,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0
5,PAYMENT,7817.71,C90045638,53860.00,46042.29,M573487274,0.00,0.00,0
6,PAYMENT,7107.77,C154988899,183195.00,176087.23,M408069119,0.00,0.00,0
...,...,...,...,...,...,...,...,...,...
1048570,CASH_OUT,132557.35,C1179511630,479803.00,347245.65,C435674507,484329.37,616886.72,0
1048571,PAYMENT,9917.36,C1956161225,90545.00,80627.64,M668364942,0.00,0.00,0
1048572,PAYMENT,14140.05,C2037964975,20545.00,6404.95,M1355182933,0.00,0.00,0
1048573,PAYMENT,10020.05,C1633237354,90605.00,80584.95,M1964992463,0.00,0.00,0
1048574,PAYMENT,11450.03,C1264356443,80584.95,69134.92,M677577406,0.00,0.00,0

In [62]:
df[df.isFraud == 1]

,type,amount,customer starting the transaction,balance before the transaction,balance after the transaction,recipient of the transaction,initial balance of recipient before the transaction,the new balance of recipient after the transaction,isFraud
2,TRANSFER,181.00,C1305486145,181.00,0.0,C553264065,0.00,0.00,1
3,CASH_OUT,181.00,C840083671,181.00,0.0,C38997010,21182.00,0.00,1
251,TRANSFER,2806.00,C1420196421,2806.00,0.0,C972765878,0.00,0.00,1
252,CASH_OUT,2806.00,C2101527076,2806.00,0.0,C1007251739,26202.00,0.00,1
680,TRANSFER,20128.00,C137533655,20128.00,0.0,C1848415041,0.00,0.00,1
...,...,...,...,...,...,...,...,...,...
1047888,CASH_OUT,56745.14,C526144262,56745.14,0.0,C79051264,51433.88,108179.02,1
1048221,TRANSFER,33676.59,C732111322,33676.59,0.0,C1140210295,0.00,0.00,1
1048222,CASH_OUT,33676.59,C1000086512,33676.59,0.0,C1759363094,0.00,33676.59,1
1048323,TRANSFER,87999.25,C927181710,87999.25,0.0,C757947873,0.00,0.00,1
1048324,CASH_OUT,87999.25,C409531429,87999.25,0.0,C1827219533,0.00,87999.25,1

In [15]:
new_type = pd.get_dummies(df['type'])

In [16]:
new_type

         CASH_IN  CASH_OUT  DEBIT  PAYMENT  TRANSFER
0              0         0      0        1         0
1              0         0      0        1         0
2              0         0      0        0         1
3              0         1      0        0         0
4              0         0      0        1         0
...          ...       ...    ...      ...       ...
1048570        0         1      0        0         0
1048571        0         0      0        1         0
1048572        0         0      0        1         0
1048573        0         0      0        1         0
1048574        0         0      0        1         0

[1048575 rows x 5 columns]

In [17]:
df1 = pd.concat([df, new_type], axis=1)

In [18]:
df1

,type,amount,customer starting the transaction,balance before the transaction,balance after the transaction,recipient of the transaction,initial balance of recipient before the transaction,the new balance of recipient after the transaction,isFraud,CASH_IN,CASH_OUT,DEBIT,PAYMENT,TRANSFER
0,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0,0,0,1,0
1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0,0,0,1,0
2,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0,0,0,0,1
3,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0,1,0,0,0
4,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,CASH_OUT,132557.35,C1179511630,479803.00,347245.65,C435674507,484329.37,616886.72,0,0,1,0,0,0
1048571,PAYMENT,9917.36,C1956161225,90545.00,80627.64,M668364942,0.00,0.00,0,0,0,0,1,0
1048572,PAYMENT,14140.05,C2037964975,20545.00,6404.95,M1355182933,0.00,0.00,0,0,0,0,1,0
1048573,PAYMENT,10020.05,C1633237354,90605.00,80584.95,M1964992463,0.00,0.00,0,0,0,0,1,0
1048574,PAYMENT,11450.03,C1264356443,80584.95,69134.92,M677577406,0.00,0.00,0,0,0,0,1,0

In [23]:
df2 = df1.drop(['type', 'customer starting the transaction', 'recipient of the transaction'], axis=1)
df2

,amount,balance before the transaction,balance after the transaction,initial balance of recipient before the transaction,the new balance of recipient after the transaction,isFraud,CASH_IN,CASH_OUT,DEBIT,PAYMENT,TRANSFER
0,9839.64,170136.00,160296.36,0.00,0.00,0,0,0,0,1,0
1,1864.28,21249.00,19384.72,0.00,0.00,0,0,0,0,1,0
2,181.00,181.00,0.00,0.00,0.00,1,0,0,0,0,1
3,181.00,181.00,0.00,21182.00,0.00,1,0,1,0,0,0
4,11668.14,41554.00,29885.86,0.00,0.00,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
1048570,132557.35,479803.00,347245.65,484329.37,616886.72,0,0,1,0,0,0
1048571,9917.36,90545.00,80627.64,0.00,0.00,0,0,0,0,1,0
1048572,14140.05,20545.00,6404.95,0.00,0.00,0,0,0,0,1,0
1048573,10020.05,90605.00,80584.95,0.00,0.00,0,0,0,0,1,0
1048574,11450.03,80584.95,69134.92,0.00,0.00,0,0,0,0,1,0

In [20]:
from sklearn.preprocessing import StandardScaler

In [21]:
scaler = StandardScaler()

In [30]:
scaler_to = scaler.fit_transform(new)

In [31]:
new_df = pd.DataFrame(scaler_to, columns=new.columns)

In [32]:
new_df

,amount,balance before the transaction,balance after the transaction,initial balance of recipient before the transaction,the new balance of recipient after the transaction
0,-0.561738,-0.236855,-0.243832,-0.425883,-0.461062
1,-0.591840,-0.286956,-0.290673,-0.425883,-0.461062
2,-0.598194,-0.294045,-0.297117,-0.425883,-0.461062
3,-0.598194,-0.294045,-0.297117,-0.416661,-0.461062
4,-0.554837,-0.280123,-0.287183,-0.425883,-0.461062
...,...,...,...,...,...
1048570,-0.098549,-0.132651,-0.181687,-0.215010,-0.205790
1048571,-0.561445,-0.263638,-0.270315,-0.425883,-0.461062
1048572,-0.545506,-0.287193,-0.294988,-0.425883,-0.461062
1048573,-0.561057,-0.263617,-0.270329,-0.425883,-0.461062
1048574,-0.555660,-0.266989,-0.274136,-0.425883,-0.461062

In [43]:
X = df2[['amount', 'balance before the transaction', 'balance after the transaction', 'initial balance of recipient before the transaction', 'the new balance of recipient after the transaction']]
y = df2['isFraud']

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
X_train, X_test,y_train, y_test = train_test_split(X, y, train_size=0.7, test_size=0.3, random_state=100)

In [46]:
X_train

,amount,balance before the transaction,balance after the transaction,initial balance of recipient before the transaction,the new balance of recipient after the transaction
95347,4267247.51,21124.00,0.00,144567.00,7120005.40
1035320,161216.46,3081285.37,3242501.82,337994.87,176778.42
341826,278319.05,93389.04,371708.09,2184489.63,1906170.58
154436,337843.92,0.00,0.00,4512787.09,4850631.01
173391,7888.36,0.00,0.00,0.00,0.00
...,...,...,...,...,...
864087,127676.36,197042.00,69365.64,0.00,127676.36
778087,149844.24,37027.00,0.00,887155.45,1155701.47
210755,921378.49,2409.00,0.00,0.00,781526.65
56088,18848.79,2493.00,0.00,0.00,0.00
824840,174388.61,21176.00,0.00,0.00,174388.61

In [47]:
 X_test

,amount,balance before the transaction,balance after the transaction,initial balance of recipient before the transaction,the new balance of recipient after the transaction
289020,198560.59,92478.00,291038.59,293900.17,95339.58
454106,78316.05,5523.00,0.00,0.00,78316.05
10454,3819.86,49733.00,45913.14,0.00,0.00
570172,230.52,0.00,0.00,0.00,0.00
998286,19131.74,5748.00,24879.74,142086.24,36858.36
...,...,...,...,...,...
828770,86802.92,1783469.14,1870272.06,170385.74,83582.82
975377,187525.20,56838.00,244363.20,310.81,0.00
237896,6359.41,236330.00,229970.59,0.00,0.00
917509,2091.10,39803.00,37711.90,0.00,0.00
455030,147590.32,243.00,147833.32,32449.97,0.00

In [48]:
from sklearn.linear_model import LogisticRegression

In [49]:
model = LogisticRegression()

In [50]:
model.fit(X_train, y_train)

LogisticRegression()

In [58]:
pred = model.predict(X_test)
pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [52]:
model.score(X_test, y_test)

0.9992656712432408

In [54]:
model.predict_proba(X_test)

array([[1.00000000e+000, 1.78405690e-198],
       [1.00000000e+000, 4.15929121e-031],
       [9.99990038e-001, 9.96152380e-006],
       ...,
       [1.00000000e+000, 8.54917973e-026],
       [9.99922296e-001, 7.77035101e-005],
       [1.00000000e+000, 3.69407845e-140]])

In [55]:
from sklearn.metrics import confusion_matrix, classification_report

In [59]:
print(confusion_matrix(y_test, pred))

[[314089    168]
 [    63    253]]

In [60]:
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00    314257
           1       0.60      0.80      0.69       316

    accuracy                           1.00    314573
   macro avg       0.80      0.90      0.84    314573
weighted avg       1.00      1.00      1.00    314573